*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
  --back-color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  inline-size: 1200px;
  block-size: 100%;
  color: var(--main-color);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  cursor: pointer;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(:focus) {
  outline: 0;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}


.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield {
  background-color: transparent;
  appearance: none;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  opacity: 0.7;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  position: relative;
  content: "";
  display: block;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  cursor: pointer;
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700px;
  font-style: normal;
  text-align: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--main-color);
  outline-offset: 2px;
}

.button:active {
  background-color: var(--back-color);
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.content__details {
  width: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 70.5px;
  padding-bottom: 26px
}

.content__accent {
  color: var(--back-color)
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

/* ТЕМПЫ */

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  margin: 2px
}

.content__card-link_current {
  background-color: var(--back-color);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid var(--main-color);
}

.content__card-link:active {
  background-color: var(--back-color);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-description-container {
  padding: 0 2px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
  text-overflow: ellipsis;   
  white-space: nowrap;   
  overflow: hidden;
  inline-size: 200px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  padding-left: 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  text-align: center;
  inline-size: 100%;
  height: 34px;
}
